body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

h1{
  font-size: 10vh;
  color: white;
  text-align: center;
}


div#descript{
  background-attachment: fixed;
  padding-top: 15%;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1564934304050-e9bb87a29c13?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80');
  background-repeat: no-repeat;
  background-size: auto;
  height: 80vh;
  width: 100vw;
  display: block;
  justify-content: center;
  align-items: center;
}


#descript>p{
  font-size: 3vh;
  color: gainsboro;
  text-align: center;
}

#descript a{
  color: lightgray;
}

a{
  text-decoration: none;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav{
  position: fixed;
  width: 100vw;
  background-color: black;
}

nav ul{
  display: flex;
}

nav li{
  list-style-type: none;
  font-size: 3vh;
  padding: 1vw;
}

nav a{
  color: white;
  padding: 1vw;
  font-family: monospace;
}

nav a:hover{
  background-color: darkgray;
}

h2{
  width: 100vw;
  height: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
  margin: 0;
  text-align: left;
  font-size: 8vh;
  text-align: center;
  color: white;
  background-color: #3D7E85;
}

#first-semester{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
  margin-top: 5vh;
}

#second-semester{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2vw;
  margin-top: 5vh;
}

.container{
  margin-bottom: 3vh;
}

.class h3{
  font-size: 5vh;
  padding: 0;
  margin: 0;
  /*margin-top: 3vh;
  margin-bottom: 1vh;*/
  color: #3D7E85;
  text-align: center;
}

.class{
  padding-left: 1vw;
  padding-right: 1vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

.class h5{
  margin: 0;
  padding: 0;
  text-align: center;
  /*color: #57A59B;*/
  color:#243E41;
  font-family: monospace;
  font-size: 3vh;
}

.class a{
  color: #5EB1AC;
}

.class a:hover{
  color: #57A399;
}

.class b{
  color: #BD6729;
}

.class li{
  display: inline;
  justify-content: center;
  display: flex;
}

footer{
  background-color: black;
  color: white;
  text-align: center;
  font-size: 3vh;
  height: auto;
  width: 100vw;
  font-family: monospace;
  padding: 4vh;
}

footer a{
  color: rgb(194, 255, 251);
}


@media only screen and (max-width: 600px) {
  #first-semester{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #second-semester{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .class{
    text-align: center;
  }

  .class h5{
    text-align: center;
  }
}
