<html>
    <body>
        <h3>Inserir analise</h3>
        <form action="analise_inserir_ok" method="post">
            <p>Numero de analise: <input type="number" name="num_analise"/></p>
            <p>Especialidade: <input type="text" name="especialidade"/></p>
            <p>Numero de cedula: <input type="number" name="num_cedula"/></p>
            <p>Numero de doente: <input type="number" name="num_doente"/></p>
            <p>Data: <input type="text" name="data"/></p>
            <p>Data de registo: <input type="text" name="data_registo"/></p>
            <p>Nome: <input type="text" name="nome"/></p>
            <p>Quantidade: <input type="number" name="quant"/></p>
            <p>Instituicao: <input type="text" name="inst"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>