<doctype html>
<title>Odisseia: Index - Flask</title>
<body style="padding:20px">
    <table border="2px">
      <thead>
        <tr>
          <th>Tabelas</th>
        </tr>
      </thead>
      <tbody>      
          <tr>
            <td><a href="instituicao">Instituicao</a></td>
          </tr>
          <tr>
            <td><a href="medico">Medico</a></td>
          </tr>
          <tr>
            <td><a href="analise">Analise</a></td>
          </tr>
          <tr>
            <td><a href="prescricao">Prescricao</a></td>
          </tr>
      </tbody>
    </table>
    <p><a href="venda_sem_prescricao">Realizar venda sem presccricao</a></p>
    <p><a href="selecionar_prescricao">Realizar venda com prescricao</a></p>
    <p><a href="listar_substancia_form">Listar as substancias prescritas por um medico num dado mes do ano</a></p>
    <p><a href="listar_glicemia">Listar os valores de glicemia mais alto e mais baixo em cada concelho e respetivo doente</a></p>
  </body>
</doctype>
