<doctype html>
    <title>Listar substancia(s) - Flask</title>
    <body style="padding:20px">
      {% if cursor %}
        <table border="2px">
          <thead>
            <tr>
              <th>Substancia</th>
            </tr>
          </thead>
          <tbody>      
            {% for record in cursor %}
              <tr>
                <td>{{ record[0] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p> Error: failed to retreive data from database!</p>
      {% endif %}
    </body>
    </doctype>