<html>
    <body>
        <h3>Inserir Presccricao</h3>
        <form action="prescricao_inserir_ok" method="post">
            <p>Numero de cedula: <input type="number" name="num_cedula"/></p>
            <p>Numero de doente: <input type="number" name="num_doente"/></p>
            <p>Data: <input type="text" name="data"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="number" name="quant"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>