<html>
    <body>
        <h3>Venda sem prescricao</h3>
        <form action="venda_sem_prescricao_ok" method="post">
            <p>Numero de venda: <input type="number" name="num_venda"/></p>
            <p>Data de registo: <input type="text" name="data_registo"/></p>
            <p>Substancia: <input type="text" name="substancia"/></p>
            <p>Quantidade: <input type="number" name="quant"/></p>
            <p>Preco: <input type="number" step="0.01" name="preco"/></p>
            <p>Nome da Instituicao: <input type="text" name="inst"/></p>
            <p><input type="submit" value="Submit"/></p>
        </form>
    </body>
</html>